:host {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  justify-content: center; /* Centers the menubar */
  margin-bottom: 50px;
}

.menubar-container {
  height: 50px; /* Define the height of the menubar */
}
