<app-header></app-header>

<div class="workspace-layout">
  <div class="workspace-card">
    <p-card header="{{ workspace.name }}" subheader="Created At: {{ workspace.createdAt | date: 'medium' }}"
            [style]="{ width: '400px' }">
      <p *ngIf="workspace.parentId!=='root'">{{ workspace.path }}</p>
      <p *ngIf="workspace.parentId == 'root'">{{ workspace.description }}</p>
      <ng-template pTemplate="footer">

      </ng-template>
    </p-card>
  </div>

  <div class="table-container">
    <p-table
      [value]="combinedData"
      [rows]="5"
      [globalFilterFields]="['name', 'type', 'creation_date']"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowHover]="true"
      [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
      dataKey="id"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
      <span class="p-input-icon-right">
        <p-button label="Create Directory" icon="pi pi-folder" class="mr-2 inline-block"
                  (click)=" createDirectoryDialog = true"></p-button>
      <p-fileUpload mode="basic" accept="image/*, .pdf, .txt" name="file"
                    url="http://localhost:8080/workspaces/{{workspace.id}}/documents" (onUpload)="onUpload()"
                    [maxFileSize]="1000000" chooseLabel="upload files" class="mr-2 inline-block"
                    [multiple]="false">
      </p-fileUpload>
      </span>
          <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" [(ngModel)]="searchTerm" (ngModelChange)="onSearchTermChange()"
                       placeholder="Search..."/>
            </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name" style="min-width:15rem">Name
            <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="type" style="min-width:10rem">Type
            <p-sortIcon field="type"></p-sortIcon>
          </th>
          <th pSortableColumn="createdAt">Creation time
            <p-sortIcon field="createdAt"></p-sortIcon>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-document>
        <tr>

          <td>
            <div *ngIf="document.flag === 'document'" class="text-center">
              <p-button label="{{document.name}}" [link]="true"
                        (click)="previewDocument(document.id,document.type)"></p-button>
            </div>
            <div *ngIf="document.flag === 'directory'" class="text-center">
              <p-button label="{{document.name}}" [link]="true"
                        (click)="enterDirectory(document.id)"></p-button>
            </div>
          </td>
          <td>
            <i *ngIf="document.flag === 'document'" class="pi pi-file"
               style="font-size: 1.12rem">{{ document.type }}</i>
            <i *ngIf="document.flag === 'directory'" class="pi pi-folder" style="font-size: 1.12rem"> directory</i>
          </td>
          <td>{{ document.createdAt | date: 'medium' }}</td>
          <td>
            <button *ngIf="document.flag === 'document'" pButton pRipple icon="pi pi-pencil"
                    class="p-button-rounded p-button-success mr-2"
                    (click)="confirmDocumentUpdate(document)"></button>
            <button *ngIf="document.flag === 'directory'" pButton pRipple icon="pi pi-pencil"
                    class="p-button-rounded p-button-success mr-2"
                    (click)="confirmUpdateDirectory(document)"></button>
            <button *ngIf="document.flag === 'document'" pButton pRipple icon="pi pi-trash"
                    class="p-button-rounded p-button-danger mr-2"
                    (click)="confirmDocumentDelete(document.id)"></button>
            <button *ngIf="document.flag === 'directory'" pButton pRipple icon="pi pi-trash"
                    class="p-button-rounded p-button-danger mr-2"
                    (click)="confirmDirectoryDelete(document.id)"></button>
            <button *ngIf="document.flag === 'document'" pButton pRipple icon="pi pi-download"
                    class="p-button-rounded p-button-info mr-2"
                    (click)="downloadDocument(document.id)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog [(visible)]="documentPreviewDialog" [modal]="true" [dismissableMask]="true" [closable]="true"
          [style]="{width:'50vw',height:'50vh'}">
  <ng-container *ngIf="documentUrl">
    <p-image *ngIf="isImageFile()" [src]="documentUrl" [style]="{width:'50vw',height:'50vh'}"></p-image>
    <iframe *ngIf="!isImageFile()" [src]="documentUrl"></iframe>
  </ng-container>
</p-dialog>

<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

<p-dialog header="Update Document" [(visible)]="updateDocumentDialog" [modal]="true" [closable]="false">

  <label for="document_name">Document Name</label>
  <input type="text" placeholder="Document name" id="document_name" [(ngModel)]="updatedDocumentName"
         class="confirmation-input">

  <p-message *ngIf="updatedDocumentName === document.name" severity="error"
             text="Document name not changed"></p-message>
  <p-footer>
    <button pButton label="Cancel" icon="pi pi-times" class="p-button-secondary"
            (click)="updateDocumentDialog = false"></button>
    <button pButton label="Update" icon="pi pi-check" class="p-button-warning"
            [disabled]="updatedDocumentName === document.name"
            (click)="updateDocument(updatedDocumentName)"></button>
  </p-footer>
</p-dialog>

<p-dialog header="Create directory" [(visible)]="createDirectoryDialog" [modal]="true" [closable]="false"
          [style]="{width: '300px'}">
  <form [formGroup]="createDirectoryForm" (ngSubmit)="createDirectory(workspace.id)">
    <div class="field">
      <label for="DirectoryName">Directory Name</label>
      <input id="DirectoryName"
             type="text"
             pInputText formControlName="name"
             placeholder="Enter Directory name"
             required
      />
      <small *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="p-error">
        Directory name is required.
      </small>
    </div>
    <p-footer>
      <div class="field-pair">
        <p-button label="Cancel" icon="pi pi-times" (click)="createDirectoryDialog = false"
                  class="mr-2 inline-block"></p-button>
        <p-button label="Create" icon="pi pi-check" type="submit" [disabled]="createDirectoryForm.invalid"></p-button>
      </div>

    </p-footer>
  </form>
</p-dialog>

<p-dialog header="Update Directory" [(visible)]="updateDirectoryDialog" [modal]="true" [closable]="false">

  <label for="directory_name">Directory Name</label>
  <input type="text" placeholder="directory name" id="directory_name" [(ngModel)]="updatedDirectoryName"
         class="confirmation-input">

  <p-message *ngIf="updatedDirectoryName === directory.name" severity="error"
             text="directory name not changed"></p-message>
  <p-footer>
    <button pButton label="Cancel" icon="pi pi-times" class="p-button-secondary"
            (click)="updateDirectoryDialog = false"></button>
    <button pButton label="Update" icon="pi pi-check" class="p-button-warning"
            [disabled]="updatedDirectoryName === directory.name"
            (click)="updateDirectory()"></button>
  </p-footer>
</p-dialog>
