<app-header></app-header>

<div class="workspace-container">
  <p-card header="{{ workspace.name }}" subheader="Created At: {{ workspace.createdAt | date: 'medium' }}"
          [style]="{ width: '400px' }">
    <p>{{ workspace.description }}</p>
    <ng-template pTemplate="footer">
      <p-button label="Update" icon="pi pi-pencil" severity="warning" (click)="updateWorkspaceDialog =true"></p-button>
      <p-button label="delete" icon="pi pi-trash" severity="danger" styleClass="p-button-secondary"
                [style]="{ 'margin-left': '.5em' }" (click)="deleteWorkspaceDialog = true"></p-button>
    </ng-template>
  </p-card>

  <p-table
    #dt
    [value]="combinedData"
    [rows]="10"
    [globalFilterFields]="['name', 'type', 'creation_date']"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowHover]="true"
    dataKey="id"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
      <span class="p-input-icon-right">
        <p-button label="Create Directory" icon="pi pi-folder" class="mr-2 inline-block"
                  (click)=" createDirectoryDialog = true"></p-button>
      <p-fileUpload mode="basic" accept="image/*, .pdf, .txt" name="file"
                    url="http://localhost:8080/workspaces/{{workspace.id}}/documents" (onUpload)="onUpload($event)"
                    [maxFileSize]="1000000" label="upload" chooseLabel="upload files" class="mr-2 inline-block"
                    [multiple]="false">
      </p-fileUpload>
      </span>
        <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target, 'contains')"
                       placeholder="Search..."/>
            </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name" style="min-width:15rem">Name
          <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="type" style="min-width:10rem">Type
          <p-sortIcon field="type"></p-sortIcon>
        </th>
        <th pSortableColumn="createdAt">Creation time
          <p-sortIcon field="createdAt"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-document>
      <tr>

        <td>
          <div *ngIf="document.flag === 'document'" class="text-center">
            <p-button label="{{document.name}}" [link]="true"
                      (click)="previewDocument(document.id,document.type)"></p-button>
          </div>
          <div *ngIf="document.flag === 'directory'" class="text-center">
            <p-button label="{{document.name}}" [link]="true"
                      (click)="enterDirectory(document.id)"></p-button>
          </div>
        </td>
        <td>
          <i *ngIf="document.flag === 'document'" class="pi pi-file" style="font-size: 1.12rem">{{ document.type }}</i>
          <i *ngIf="document.flag === 'directory'" class="pi pi-folder" style="font-size: 1.12rem"> directory</i>
        </td>
        <td>{{ document.createdAt | date: 'medium' }}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                  (click)="confirmDocumentUpdate(document)"></button>
          <button *ngIf="document.flag === 'document'" pButton pRipple icon="pi pi-download" class="p-button-rounded p-button-info mr-2"
                  (click)="downloadDocument(document.id)"></button>
          <button *ngIf="document.flag === 'document'" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger mr-2"
                  (click)="confirmDocumentDelete(document.id)"></button>
          <button *ngIf="document.flag === 'directory'" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger mr-2"
                  (click)="confirmDirectoryDelete(document.id)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>


<p-dialog header="Confirm Delete Workspace" [(visible)]="deleteWorkspaceDialog" [modal]="true" [closable]="false">
  <p>To confirm deletion, please enter the workspace name:</p>

  <input type="text" placeholder="Workspace name" [(ngModel)]="deleteConfirmationName" class="confirmation-input">

  <p-message *ngIf="deleteConfirmationName && deleteConfirmationName !== workspace.name"
             severity="error" text="Workspace name does not match"></p-message>

  <p-footer>
    <button pButton label="Cancel" icon="pi pi-times" class="p-button-secondary"
            (click)="deleteWorkspaceDialog = false"></button>
    <button pButton label="Delete" icon="pi pi-check" class="p-button-danger"
            [disabled]="deleteConfirmationName !== workspace.name"
            (click)="deleteWorkspace(workspace.id)"></button>
  </p-footer>
</p-dialog>

<p-dialog header="Update Workspace" [(visible)]="updateWorkspaceDialog" [modal]="true" [closable]="false">

  <label for="workspace_name">Workspace Name</label>
  <input type="text" placeholder="Workspace name" id="workspace_name" [(ngModel)]="updatedName"
         class="confirmation-input">
  <label for="workspace_description">Workspace Description</label>
  <input type="text" placeholder="Workspace name" id="workspace_description" [(ngModel)]="updatedDescription"
         class="confirmation-input">

  <p-message *ngIf="updatedName === workspace.name && updatedDescription === workspace.description"
             severity="error" text="Workspace data not changed"></p-message>

  <p-footer>
    <button pButton label="Cancel" icon="pi pi-times" class="p-button-secondary"
            (click)="updateWorkspaceDialog = false"></button>
    <button pButton label="Update" icon="pi pi-check" class="p-button-warning"
            [disabled]="updatedName === workspace.name && updatedDescription === workspace.description"
            (click)="updateWorkspace(updatedName,updatedDescription)"></button>
  </p-footer>
</p-dialog>

<p-dialog [(visible)]="documentPreviewDialog" [modal]="true" [style]="{width: '90vw', height: '90vh'}"
          [dismissableMask]="true" [closable]="true">
  <iframe [src]="documentUrl" class="document-preview"></iframe>

<!--  <p-image [src]="documentUrl" class="document-preview"></p-image>-->
</p-dialog>

<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

<p-dialog header="Update Document" [(visible)]="updateDocumentDialog" [modal]="true" [closable]="false">

  <label for="workspace_name">Document Name</label>
  <input type="text" placeholder="Document name" id="document_name" [(ngModel)]="updatedDocumentName"
         class="confirmation-input">

  <p-message *ngIf="updatedDocumentName === document.name" severity="error" text="Document name not changed"></p-message>
  <p-footer>
    <button pButton label="Cancel" icon="pi pi-times" class="p-button-secondary"
            (click)="updateDocumentDialog = false"></button>
    <button pButton label="Update" icon="pi pi-check" class="p-button-warning"
            [disabled]="updatedDocumentName === document.name"
            (click)="updateDocument(updatedDocumentName)"></button>
  </p-footer>
</p-dialog>

<p-dialog header="Create directory" [(visible)]="createDirectoryDialog" [modal]="true" [closable]="false"
          [style]="{width: '300px'}">
  <form [formGroup]="createDirectoryForm" (ngSubmit)="createDirectory(workspace.id)">
    <div class="field">
      <label for="DirectoryName">Directory Name</label>
      <input id="DirectoryName"
             type="text"
             pInputText formControlName="name"
             placeholder="Enter Directory name"
             required
      />
      <small *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="p-error">
        Directory name is required.
      </small>
    </div>
    <p-footer>
      <div class="field-pair">
        <p-button label="Cancel" icon="pi pi-times" (click)="createDirectoryDialog = false"
                  class="mr-2 inline-block"></p-button>
        <p-button label="Create" icon="pi pi-check" type="submit" [disabled]="createDirectoryForm.invalid"></p-button>
      </div>

    </p-footer>
  </form>
</p-dialog>

